@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');  
  
body , h1 ,h2 ,h3,h4,h5,h6 ,p,a,ul,li {
    font-family: "Jost", serif;
    font-optical-sizing: auto;

    font-style: normal;
}

  @media (max-width: 768px) {
        .banner-5-title {
            font-size: 1.5rem; /* Reduced font size for mobile */
        }
        .banner-area {
            padding-top: 30px; /* Adjusting top padding for mobile */
        }
        .navbar-nav {
            text-align: center; /* Center navbar items on mobile */
        }
        .navbar-toggler {
            margin-left: auto; /* Ensures the toggle button is aligned */
        }
        .btn-md {
            font-size: 14px; /* Reduce button font size */
            padding: 12px 18px; /* Adjust button padding for mobile */
        }
        .bannerimage img {
            width: 100%; /* Ensure image is responsive on mobile */
            height: auto;
        }
        .announcement-bar{
            font-size: 10px !important; 
        }

        .navbar {
            background-color: #001f3f !important; /* Dark Blue */
        
        }
        .logo-slider .slide img {
            width: 70px  !important;
            height: auto ;
            margin:10px  !important ;
        }
    }
    .glow-icon {
        width: 100%;
        position: relative;
        filter: drop-shadow(0 0 15px rgba(6, 87, 153, 0.8));
    }

    .btn-primary{
        background:  #003972  !important  ;
    }

    /* .announcement-bar {
        background: linear-gradient(90deg, rgba(0,148,225,1) 0%, rgba(1,201,254,1) 10%, rgba(1,201,254,1) 83%, rgba(0,148,225,1) 94%);
        text-align: center;
        padding: 0;
        font-weight: 500    ;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1050;
        color:#ffffff;
    } */

    .navbar {
        
            background: linear-gradient(90deg, rgb(0, 78, 121) 0%, rgb(1, 159, 202) 48%, rgb(0, 101, 155) 100%);      
        /* margin-top: 20px; Push navbar below announcement bar */
    }
    .navbar-nav {
        margin: 0;
    }
    .nav-link {
        color: #ffffff !important;
    }
    .btn-outline-light {
        border-color: #ffffff;
        color: #ffffff;
    }
    .btn-outline-light:hover {
        background-color: #ffffff;
        color: #001f3f;
    }
    .btn-warning {
        background-color: #ffffff !important;
        border-color: #ffffff !important;
        color: #001f3f;
    }
    .btn-warning:hover {
        background-color:transparent  !important;
        
        color: #ffffff !important;
    } 
    body {
    margin: 0;
    padding: 0; /* Prevent content from hiding behind fixed elements */
    
    }
    .glow-icon  img{
        max-width: 70px;
        filter: drop-shadow(0 0 25px rgb(0, 67, 94)); /* Brighter glow on hover */

    }

    .glow-icon:hover {
        filter: drop-shadow(0 0 25px rgb(205, 225, 228)); /* Brighter glow on hover */
    }

    .hero-section {
        text-align: center;
        padding: 50px 20px;
    }
    .content-section {
        padding: 40px 20px;
    }
    .content-box {
        background-color: white;
        height: 180px;
    }
    .btn-custom {
        background-color: #0056b3;
        border: none;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        display: inline-block;
        margin-top: 15px;
        text-decoration: none;
    }
    .btn-custom:hover {
        background-color: #004494;
    }

    .custom-section {
    /* Adjust color */
    
        padding: 40px;
    }
    .placeholder {
        width: 100%;
        height: 150px;
        background-color: white;
    }
    .highlight-btn {
        background-color: #007bff;
        color: #fff;
        border-radius: 20px;
        padding: 10px 20px;
        text-decoration: none;
        display: inline-block;
    }

    .highlight-btn:hover {
        background-color: #0056b3;
    }

    .marketing-tabs {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-bottom: 20px;
    }


    .btn.active{
    border-color: #fff !important;
    }
    .features-content {
        display: none;
    }

    .features-content.active {  
        display: block;
    }

    .slider-container {
        width: 100%;
        margin: auto;
        overflow: hidden;
    }
    .logo-slider .slide img {
        width: 100px;
        height: auto;
        margin:30px;
    }
    .navbar-brand img {
        max-width: 200px;
        height: auto;
    }

    .announcement-bar{
        font-size: 15px; 
    }
    .zing-bot-gradient {
        background: linear-gradient(90deg, rgb(0, 89, 107) 0%, rgba(0,148,225,1) 48%, rgb(0, 85, 109) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    @media (max-width: 768px) { /* Adjust breakpoint as needed */
        .mobile-break::after {
            content: "\A"; /* Adds a line break */
            white-space: pre;
        }

        .stats-heading {
            background: linear-gradient(90deg, rgb(0, 89, 107) 0%, rgb(40, 121, 165) 48%, rgb(1, 62, 78) 100%);/* Dark blue */
            font-weight: bold;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 1.5rem!important;
            
        }
        .stat-number {
            font-size: 1.3rem !important;
            font-weight: bold;
            background: linear-gradient(90deg, rgb(0, 89, 107) 0%, rgb(40, 121, 165) 48%, rgb(1, 62, 78) 100%);/* Dark blue */
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .stats-section{
            margin: 50px 10px !important;   
        }
        
    .stats-heading-1 {
        font-size: 1.5rem!important;   

        
    }
    }

    .stats-heading {
        background: linear-gradient(90deg, rgb(0, 69, 78) 0%, rgb(40, 121, 165) 48%, rgb(1, 67, 71) 100%);/* Dark blue */
        font-weight: bold;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2rem;
        
    }
    .stat-number {
        font-size: 1.7rem;
        font-weight: bold;
        background: linear-gradient(90deg, rgb(0, 61, 70) 0%, rgb(40, 121, 165) 48%, rgb(0, 52, 56) 100%);/* Dark blue */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .stat-text {
        font-size: 1rem;
        background: linear-gradient(90deg, rgb(0, 89, 107) 0%, rgb(40, 121, 165) 48%, rgb(1, 62, 78) 100%);/* Dark blue */
        -webkit-background-clip: text;
    }
    .read-more {
        display: inline-block;
        font-weight: bold;
        background: linear-gradient(90deg, rgb(0, 89, 107) 0%, rgb(40, 121, 165) 48%, rgb(1, 62, 78) 100%);/* Dark blue */
        -webkit-background-clip: text;
        text-decoration: none;
        border-bottom: 2px solid #002f87;
    }
    .read-more:hover {
        color: #000;
        border-color: #000;
    }

    .stats-section{
        margin: 50px;   
    }

    .stats-heading-1 {
        background: linear-gradient(90deg, rgb(0, 75, 85) 0%, rgb(40, 121, 165) 48%, rgb(0, 106, 114) 100%);/* Dark blue */
        font-weight: bold;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2rem;
        
    }

    footer{
        padding: 30px;
        background: linear-gradient(90deg, rgb(0, 78, 121) 0%, rgb(1, 159, 202) 48%, rgb(0, 101, 155) 100%);      
    color:white;
    }
    footer a{
    color:white;
    text-decoration: none;
    }

    .about-section {
        padding: 50px 0;
    
    }
    .about-img {
    width:250px;
    }
    @keyframes zoomInOut {
        0% { transform: scale(1); }
        50% { transform: scale(1.09 ); }
        100% { transform: scale(1); }
    }

    .click-animation {
        animation: zoomInOut 1s infinite;
    }
    .text-grey{
        color:rgb(63, 62, 62) !important;
    }

    .intro {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .intro {
        background: #6e4ce1;
        color: #f6f2e8;
    }

    a {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        display: block;
        margin: 20px 0 0 0;
        transition: all 0.3s ease-in-out;
        font-size: 1.2rem;
        color: #F6F2E8;
        text-decoration: none;
    }

  

    /* horizontal scroll */


    .horizontal-scoll-wrapper {
        overflow: hidden;
        height: 525px;
        width: 100%; /* Ensure full width */
        
    }

    .horizontal {
        display: flex;
        height: 100%;
    
    }

    .horizontal > div {
        display: flex;
        flex-shrink: 0;
        padding: 0 5px;
        margin-top: 40px;
    }

    .horizontal > div:first-child {
        padding: 0 5px 0 15px;
    }

    .horizontal > div:last-child {
        padding: 0 15px 0 5px;
    }
    @media (max-width: 768px) {
    


        .about-section p,.about-section h2{
            text-align: center;
        }
       
        .onlymobile{
            display: block !important;
        }
        .Feautures{
            margin-bottom: 0 !important;
        }
        
    }
    @media (max-width: 468px) {
        .imagesize{
            width:200px !important;
        }
      .horizontal .stats-heading-1{
        font-size: 1rem !important;
      }
      .horizontal p{
        max-width: 200px !important;
        font-size: 13px;
      }
      .fistmain h4{
        font-size: 15px !important;
      }
    
    }

    @media (max-width: 998px) {
    
        .navbar{
            height: 100px !important;;
            }
        }

    .onlymobile{
        display: none;
    }
   
    .Feautures{
        margin-bottom: -50px;
    }
    
    html {
        scroll-behavior: smooth;
      }
      
      .horizontal-scroll-wrapper {
        overflow: hidden;
        height: 400px; /* 🔥 Reduce height to fit content */
        width: 100%;
        position: relative;
    }
    
    .imagesize{
     
        width: 400px;
    }
   

    .gradientbutton{
        background: linear-gradient(90deg, rgb(0, 69, 78) 0%, rgb(40, 121, 165) 48%, rgb(0, 137, 145) 100%);/* Dark blue */
        color:white !important;
    }
    .btn{
        border: none  !important;
    }

    footer ul li:hover ,footer a :hover{
        color: white !important;
        transform: scale(1.1);
        transition: transform 0.3s ease, color 0.3s ease; /* Add transition for smooth effect */
        text-decoration: none !important;
    }
    footer a {
        text-decoration: none !important; /* Remove underline from links */
        color: white; /* Inherit color from the parent */
    }
    .max-width-500 {
        max-width: 900px;
    }
    .navbar{
    height:75px;
    }

    